html {
    font-family: arial;
    color: white;
}

.red {
    margin: 0 auto;
    /* center div */
    width: 50vw;
    background-color: rgb(255, 0, 0);
    font-size: 2em;


}

.blue {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: #00F;
    margin: 100px;
    font-size: 1.5em;
}